body {
	margin: 0;
	padding: 0;
	background-color: #ececec;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

main {
	display: flex;
	flex: 1;
	overflow: hidden;
}

main>article.markdown-body {
	flex: 1;
	overflow: auto;
	box-sizing: border-box;
}

main>.markdown-body {
	min-width: 200px;
	max-width: 980px;
	overflow: scroll;
	padding: 1em;
}

main>.markdown-body .highlight {
	background-color: yellowgreen;
}

#INPUT {
	flex: 1;
	display: flex;
	overflow: auto;
}

#INPUT>div.cm-editor {
	flex: 1;
}

[name=topBar] {
	height: 40px;
}

#tabs {
	display: inline;
	font-size: 12px;
	margin: 0 2px;
}

#tabs input {
	display: none;
}

/* hide radio buttons */
#tabs input+label {
	display: inline-block;
}

/* show labels in line */
#tabs input~.tab {
	display: none;
}

/* hide contents */

#tabs input+label {
	/* box with rounded corner */
	border: 1px solid #ececec;
	background: #ececec;
	border-color: #ececec;
	color-scheme: light dark;
	background: light-dark(#ececec, #2b2b2b);
	border-color: light-dark(#ececec, #444);
	color: light-dark(#000, #eee);
	margin: 4px 2px;
	padding: 4px 8px;
	border-radius: 1em;
	position: relative;
}

#tabs input:checked+label {
	/* white background for selected tab */
	background: #fff;
	border-color: #ccc;
	background: light-dark(#fff, #3a3a3a);
	border: 1px solid light-dark(#ccc, #666);
	font-weight: bolder;
}

#tabs input:hover+label {
	background-color: #ddd;
	background-color: light-dark(#ddd, #555);
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

#examples {
	float: right;
}

#examples button {
	font-weight: bolder;
}